.Typewriter__cursor {
    animation: Typewriter-cursor 1s infinite;
    margin-left: 1px;
}

@keyframes Typewriter-cursor {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}